/*========== RESET===============*/
html, body {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none;

  -webkit-box-sizing: border-box;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

header, nav, section, article, aside, footer {
  display: block
}

select, input, textarea {
  font: inherit;
  color: inherit;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
  resize: none;
  overflow: auto;
}

:focus {
  outline: none;
}

input[type=submit], button {
  cursor: pointer;
}

img, fieldset {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*=====================================================================*/

/*========================================================================*/

body {
  font-size: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1920px;
  padding: 0 50px;
  margin: 0 auto;
}

.main {
  padding-top: 202px;
}

.text_big {
  font-size: 50px;
  font-family: 'Lytiga Pro', sans-serif;
}

.dynamic-content p {
  font-family: ArialMT, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 40px;
}

.dynamic-content li {
  position: relative;
  padding-left: 45px;
  margin-bottom: 10px;
}

.dynamic-content li:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0.5rem;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 0 6.5px 11.3px;
  border-color: transparent transparent transparent #00bcf1;
}

.heading,
.dynamic-content h3 {
  font-size: 1rem;
}

.dynamic-content h2,
.dynamic-content h3,
.dynamic-content h4,
.dynamic-content h5 {
  font-family: "Lytiga Pro", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.color_blue {
  color: #00bdf2;
}

.section {
  padding-left: 18%;
  padding-right: 12.75%;
  padding-top: 2.75rem;
}

.section__title {
  max-width: 760px;
  position: relative;
  color: #000000;
  font-family: "Lytiga Pro", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.5rem;
}

.decor {
  position: relative;
}

.decor:before {
  position: absolute;
  content: '';
  left: -45px;
  top: 1.35rem;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 0 16px 27.7px;
  border-color: transparent transparent transparent #00bcf1;
}

.decor_black:before {
  border-color: transparent transparent transparent #000000;
  right: -50%;
  left: auto;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  padding-top: 70px;
  padding-bottom: 60px;
  z-index: 999;
  background-color: rgba(255, 255, 255, .9);
  transition: .5s ease-out;
}

.header_active {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 18px 17px 0 rgba(255, 255, 255, .9);
  transition: .5s ease-out;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  width: 254px;
  height: 72px;
}

.header-logo__img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.btn-burger {
  display: none;
  width: 35px;
  background-color: transparent;
  border: none;
  margin-left: 30px;
}

.burger-line {
  display: block;
  width: 100%;
  background-color: #00bdf2;
  height: 3px;
  margin-bottom: 10px;
}

.btn-close {
  position: absolute;
  right: 35px;
  top: 20px;
  display: none;
  width: 15px;
  height: 15px;
  background-color: transparent;
  border: none;
}

.menu {
  text-align: right;
}

.menu__item {
  margin-left: 50px;
  display: inline-block;
}

.menu__item:first-child {
  margin-left: 0;
}

.menu__link {
  display: inline-block;
  font-family: "Lytiga Pro", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: #00bdf2;
  transition: .35s;
}

.menu__link:hover,
.menu__link:focus {
  text-decoration: underline;
  transition: .35s;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: .9;
  z-index: 800;
}


.content-with-gallery {
  position: relative;
  padding-left: 33%;
}

.gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  z-index: 5;
}

.gallery-list {
  position: relative;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}

.gallery__thumb {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 50.5%;
  margin-bottom: 25px;
  display: block;
}

.gallery__img,
.gallery__thumb iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section-banner {
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-right: 0;
  display: flex;
  align-items: center;
  min-height: 26rem;
}

.section-banner:before {
  position: absolute;
  content: '';
  display: block;
  background-image: url(assets/svg/triangle_1.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: cover;
  background-size: cover;
  width: 24%;
  padding-top: 27.25%;
  left: 10.5%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.slogan {
  line-height: 1.4;
  max-width: 925px;
}

.section-how-working {
  padding-right: 0;
}

.step-work {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  padding-bottom: 8px;
  margin-left: -50px;
}

.step-work__item {
  position: relative;
  width: 25%;
  margin-bottom: 2.75rem;
  padding-right: 2.25rem;
  padding-left: 2.25rem;
  line-height: 1.2;
}

.step-work__item .decor:before {
  right: -1rem;
  transform: translate(50%, -50%);
}

.step-work__item:last-child .decor:before {
  display: none;
}

.wrap-icon {
  width: 100%;
}

.icon {
  width: 80%;
  padding-top: 80%;
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  margin-bottom: 10px;
}

.section-what-is {
  padding-bottom: 27px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list__item {
  width: 33.3%;
  margin-bottom: 70px;
}

.card-project {
  display: block;
  padding: 0 10px;
}

.card-project .wrap-img {
  overflow: hidden;
  margin-bottom: 20px;
}

.card-project__img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card-project__heading {
  color: #00bdf2;
  font-family: "Lytiga Pro", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.link-mail {
  position: relative;
  display: inline-block;
  color: #00bdf2;
  font-family: "Lytiga Pro", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
  padding-bottom: 5px;
  margin-bottom: 3.25rem;
}

.link-mail:before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #00bdf2;
  bottom: 0;
}

.address {
  color: #231f20;
  margin-bottom: 20px;
}

.wrap-map {
  max-width: 900px;
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
  background: #d7dcdf;
  margin-bottom: 36px;
}

.wrap-map iframe {
  width: 100%;
  height: 100%;
}

.footer {
  position: relative;
  padding-top: 82px;
  padding-bottom: 85px;
  background-color: #ffffff;
  z-index: 10;
}

.footer:before {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  right: 0;
  top: -30px;
  min-height: 30px;
  background: linear-gradient(0deg, #ffffff 13%, rgba(0, 0, 0, 0) 100%);
  z-index: 10;
}


/*===============RESPONSIVE=========================================*/
@media only screen and (max-width: 1880px) {
  body {
    font-size: 18px;
  }

  .container {
    max-width: 1460px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .text_big {
    font-size: 42px;
  }

  .main {
    padding-top: 170px;
  }

  .header {
    padding-top: 45px;
  }

  .header__logo {
    width: 10rem;
    height: auto;
  }

  .menu__item {
    margin-left: 30px;
  }

  .menu__link {
    font-size: 26px;
  }

  .decor:before {
    border-width: 14px 0 14px 25.7px;
  }

  .section__title {
    font-size: 3.25rem;
  }

  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .step-work__item .decor:before {
    right: -50%;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 1660px) {
  body {
    font-size: 16px;
  }

  .menu__link {
    font-size: 22px;
  }
}


@media only screen and (max-width: 1480px) {
  .container {
    max-width: 1240px;
  }

  .header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .menu__link {
    font-size: 20px;
  }

  .section {
    padding-right: 0;
  }

  .text_big {
    font-size: 34px;
  }

  .section__title {
    width: 100%;
  }

  .decor:before {
    border-width: 12px 0 12px 21.7px;
    top: 20px;
  }

  .decor_black:before {
    top: 50%;
  }

  .icon {
    width: 100%;
    padding-top: 100%;
  }

  .step-work__item .decor:before {
    transform: translate(50%, -50%);
  }

  .link-mail {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .section__title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 1180px) {
  .header__logo {
    width: 8rem;
  }

  .main-nav {
    padding-top: 120px;
    position: fixed;
    padding-left: 50px;
    padding-right: 30px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 320px;
    background-color: #fff;
    max-height: 100%;
    overflow-y: auto;
    transition: transform .5s;
    transform: translateX(-100%);
    z-index: 999;
  }

  .section-banner {
    min-height: 18rem;
  }

  .main-nav.open {
    transform: translateX(0);
  }

  .btn-burger {
    display: block !important;
  }

  .btn-close {
    display: block;
  }

  .menu__link {
    font-size: 20px;
  }

  .header .menu {
    text-align: left;
  }

  .header .menu__item {
    display: block;
    margin-left: 0;
    line-height: 1;
    margin-bottom: 20px;
  }

  .container {
    max-width: 980px;
  }

  .step-work__item {
    width: 42.5%;
  }

  .projects-list__item {
    width: 50%;
  }

  .text_big {
    font-size: 30px;
  }

  .section__title {
    font-size: 2.5rem;
  }

  .section__title:before {
    top: 0.75rem;
  }

  .step-work {
    margin-left: 0;
    justify-content: center;
  }

  .step-work__item .decor:before {
    transform: translate(-50%, -50%);
  }
}


@media only screen and (max-width: 940px) {
  .container {
    max-width: 700px;
  }

  .section-banner:before {
    display: none;
  }

  .section {
    padding-left: 0;
  }


  .section__title:before {
    left: 0;
    top: 0.5rem;
  }

  .section__title {
    font-size: 1.75rem;
    text-align: center;
  }

  .section__title:before {
    position: static;
    display: inline-block;
    margin-right: 15px;
  }

  .content-with-gallery {
    padding-left: 0;
  }

  .gallery,
  .gallery-list {
    position: static;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
  }

  .gallery {
    width: 100%;
  }

  .step-work__item {
    text-align: center;
  }

  .step-work__item .decor:before {
    display: none;
  }

  .step-work__item .wrap-icon {
    background-position: center center;
  }
}


@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .container {
    max-width: 80%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 620px) {
  .container {
    max-width: 90%;
  }
.main{
  padding-top: 6.43rem;
}
  .icon {
    width: 80%;
    padding-top: 85%;
    margin: 0 auto;
  }

  .projects-list__item {
    width: 100%;
  }

  .step-work__item {
    padding-left: 10px;
    padding-right: 10px;
  }

  .step-work__item .decor:before {
    right: 12px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }

  .section__title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .link-mail {
    margin-bottom: 1.15rem;
    font-size: 1.15rem;
  }
  .section-banner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .dynamic-content h3 {
    font-size: 14px;
  }
}