@font-face {
  font-family: 'Lytiga Pro';
  src: url('Lytigaproregular.woff2') format('woff2'),
  url('Lytigaproregular.woff') format('woff'),
  url('Lytigaproregular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lytiga Pro';
  src: url('LytigaW03-Bold.eot?#iefix') format('embedded-opentype'),
  url('LytigaW03-Bold.woff') format('woff'),
  url('LytigaW03-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'ArialMT';
  src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
  url('ArialMT.otf') format('opentype'),
  url('ArialMT.woff') format('woff'),
  url('ArialMT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
